.product-card {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.15);
}

.image-wrapper {
  height: 240px;
  background: #f8fafc;
  display: flex;
  align-items: center;
  justify-content: center;
}


.image-wrapper img {
  max-width: 100%;
  object-fit: contain;
}

.product-info {
  padding: 20px;
  text-align: center;
}

.product-info h3 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #222;
}

.price {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-bg-color);
}
